doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Signup
    body 
        if(message)
            h4 #{message}
            form(action="/signup" method="POST")
                input(type="text" name = "id" require placeholder = "User ID")
                br 
                input(name = "password" type = "password" require placeholder = "Password")
                br
                script 
                    - function execPostCode() {
                        daum.postcode.load(function() {
                            new daum.Postcode({
                                oncomplete: function(data) {
                                    var addr = '';
                                    if(data.userSelectedType === 'R') {
                                        addr = data.roadAddress;
                                    } else {
                                        addr = data.jibunAddress;
                                    }
                                }
                                document.getElementById('userZipcode').value = data.zonecode;
                                document.getElementById('userAddress').value = addr;
                                document.getElementById('userAddress').focus();
                            })
                        }).open() 
                    }
                button(type = "submit") Sign Up *^^*
    script
