<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>번호</td>
            <td>제목</td>
            <td>작성자</td>
            <td>작성일</td>
            <td>등록일</td>
        </tr>
        <tr>
            <td>1</td>
            <td><a href="/board/view">내용 보기</a></td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
    </table>
    <a href="/board/write">글쓰기</a>
</body>
</html>